@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    color: black;
    font-size: large;
    font-weight: bold;
}
/* body {
    background-image: url('akash-p-g-tkF1AePqT_U-unsplash.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    position: relative;
    filter:opacity(0.cont5);
    
} */
.header {
    height: 10vh;
    /* width: 100vw; */
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}
.box{
    height: 90vh;
    border: 2px solid black;
    display: flex;
}
.left{
    height: 90vh;
    width: 20vw;
    display: flex;
    border: 2px solid blueviolet;
}
.left1{
    height: 10vh;
    width: 20vw;
    border: 2px solid green;
}
.right{
    height: 90vh;
    width: 80vw;
    border: 2px solid pink;
}