
/* Common Styles */
body{
    background-color: #EDF1D6;
    color: #40513B;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 4px 15px #40513B;
}

.footer-social-icons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.footer-social-icons a {
    color: #40513B;
    padding: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    color: #40513B;
}

.hero-section {
            background-image: url("../Supporting Images/MarketPlace.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 50px;
            text-align: center;
        }

        .custom-navbar {
            background-color: #40513B;
        }
    
        .custom-navbar .navbar-brand, 
        .custom-navbar .nav-link {
            color: #EDF1D6; 
        }
    
        .custom-navbar .nav-link:hover {
            color: #EDF1D6; 
        }
        .btn-custom{
            background-color: #609966;
        }
        .playpen-sans {
            font-family: "Playpen Sans", cursive;
            font-optical-sizing: auto;
            font-size: 25px;
            font-weight: 800;
            font-style: normal;
            }
.text-custom{
    color: #40513B;
}